<!doctype html>
<html>
    <head>
        <title>Meili and Xiu Happy Travel</title>
    </head>
    
    <body>
        <header>
            <img src="/img/logo.png" alt="Meilixiu Logo" height="130">
        </header>
        {{{body}}}
    </body>
</html>